#footer {
  background-image: linear-gradient(to bottom, rgb(51, 89, 223, 0.9), #7885b1), url('../images/blur-background.jpg');
  background-color: #3359DF;
  width: 100%;
  min-height: 100px;
  padding: 20px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-title {
  font-size: 2rem;
  color: #fff;
}

.footer-logo {
  width: 150px;
}
.footer-list {
  list-style-type: none;
  padding-left: 10px; 
}
.footer-list li {
  margin-top: 10px;
}
.footer-list li a {
  color: #fff;
}
.footer-list li a:hover,
.footer-list li a.active {
  color: #ffa400;
}
@media only screen and (max-width: 768px) {
  #footer .container .col-3 {
    text-align: center;
  }
  .footer-list {
    padding-left: 0;
  }
}