/* 
  Get A Quote form CSS
*/

.quote-container {
  background-color: #3359DF;
  color: #fff;
}
.quote-container label {
  color: #fff;
}
.quote-container button {
  background-color: #ffa400;
  margin-top: 15px;
  font-size: 1.3rem;
}
.quote-title {
  color: #fff;
  font-size: 2rem;
  margin-left: 15px;
}
#quote-map {
  height: 300px;
}

.quote-result {
  min-height: 20px;
  background-color: #fff;
}
.quote-result p {
  font-size: 1.3rem;
  text-align: center;
  color: #3359DF;
}
