.is-primary {
  color: #3359DF;
}
.is-blue {
  color: blue;
}
.is-red {
  color: red;
}
.is-white {
  color: white;
}
.bg-primary {
  background-color: #3359DF;
}
.bg-blue {
  background-color: blue;
}
