/* 
  Grid system of 12 columns
*/

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33;
}
.col-5 {
  width: 44.66;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}

.is-flex {
  display: flex;
}
.is-content-center {
  display: flex;
  justify-content: center;
}
.is-items-center {
  display: flex;
  align-items: center;
}
